###### file handling
1. create
2. write 
3. reading
4. appending
5. renaming

In [1]:
import os # folder related operators
#  os.rename("oldname","new name");
os.rename("sample.txt"," demo.txt")

In [3]:
os.remove(" demo.txt")  ##### removing a file

In [4]:
#import os
#os.mkdir("python")
#for i in range (5):
#    file_name = " "
  #  open("c://python//file name","a")
 #   for i in range(512):
   #     f.write("character")

### tuple:
1. immutable(changes are not allowed)
2. using () elements are seperated by ,
3. indexed,ordered

In [5]:
#tuple:
tup1=(12,3,345.56,"abc",True)
print(type(tup1))

<class 'tuple'>

In [6]:
print(tup1[2])

345.56

In [7]:
tup1[-1]

True

In [8]:
tup1[2]=100

TypeError: 'tuple' object does not support item assignment

In [10]:
##we can do operations on tuple by converting in to list
l=list(tup1)
l

[12, 3, 345.56, 'abc', True]

In [11]:
l[2]=100

In [12]:
l

[12, 3, 100, 'abc', True]

In [13]:
tup1=tuple(l)

In [15]:
tup1

(12, 3, 100, 'abc', True)

### build in methods
1. count()
2. index()

In [16]:
tup1.count(12)

1

In [17]:
tup1.index(12)

0

In [18]:
# unpacking
tup2= (12,232,4,354)
a,b,c,d=tup2
print(d)

354

In [19]:
#packing
x= 10,20,30

In [20]:
x

(10, 20, 30)

In [21]:
type(x)

tuple

In [24]:
# tuple with single element
y=(10,)
y

(10,)

In [25]:
type(y)

tuple

In [26]:
for ele in x:
    print(ele,end=" ")

10 20 30

### sets:
1. { }
2. does not allow duplicate values
3. sets are not ordered
4. unindexed
5. mutable

In [28]:
set1= {1,2,334,45,5,6,2,1}
set1

{1, 2, 5, 6, 45, 334}

In [29]:
print(set1[2])

TypeError: 'set' object is not subscriptable

In [30]:
set1.pop()

1

In [31]:
set1

{2, 5, 6, 45, 334}

In [32]:
for ele in set1:
    print(ele)

2
5
6
45
334

In [33]:
set1.append(50)

AttributeError: 'set' object has no attribute 'append'

### build in functions:
1. len()
2. min()
3. max()
4. set()

In [35]:
set1

{2, 5, 6, 45, 334}

In [36]:
print(len(set1))
print(min(set1))
print(max(set1))

5
2
334

In [37]:
# removing duplicates from set
list1=[1,2,3,4,5,6,1,2,3,4,5]
list1=set(list1)
list1

{1, 2, 3, 4, 5, 6}

### built in methods:

### !adding element
1. add()
### removing element
1. pop()
2. remove()
3. discard()
4.

In [40]:
# to create a empty set
set2=set()
type(set2)

set

In [41]:
set2.add(1)
set2.add(2)
set2.add(3)
set2

{1, 2, 3}

In [42]:
set1.pop()

2

In [43]:
set2.remove(1)

In [44]:
set2

{2, 3}

In [47]:
set2.discard(3)
set2

{2}

In [48]:
set2.clear()
set2

set()

In [50]:
# union,difference,intersection ,super set,disjoint 
#symmetric difference 
a={1,2,3,4,5}
b={3,4,5,6,7}
# union aUb ==>{1,2,3,4,,5,6,7}
print(a.union(b))
print(a.difference(b))
print(b.difference(a))
print(a.intersection(b))

{1, 2, 3, 4, 5, 6, 7}
{1, 2}
{6, 7}
{3, 4, 5}

In [53]:
#subset,suoer set,disjoint 
#symmetric difference
c={1,2,3,4,5,6,7,8,9,10}
print(a.issubset(c))# if any method is starting with is return type is bool
print(a.issubset(b))
print(c.issuperset(a))
print(c.issuperset(b))

True
False
True
True

In [56]:
# disjoint set
print(a.isdisjoint(b))

False

In [58]:
# symmetric difference
print(a.symmetric_difference(b))
print(a)
print(b)

{1, 2, 6, 7}
{1, 2, 3, 4, 5}
{3, 4, 5, 6, 7}

In [60]:
a.update(b)
print(a)
print(b)

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}

In [61]:
a.intersection_update(b)
print(a)
print(b)

{3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}

In [62]:
a.difference_update(b)
print(a)
print(b)

set()
{3, 4, 5, 6, 7}

In [63]:
a.symmetric_difference_update(b)
print(a)
print(b)

{5, 4, 3, 6, 7}
{3, 4, 5, 6, 7}

### dictonary:
``` dictionary name={key1:value1,key2:.................}```

rules for key:
1. keys should be unique
2. key shoulb be immutable(EX:numerics,string,tuple)

In [70]:
# creating a dictonary
dict1={"name": "nbs","rollno.":1223,"address":"hyd","name":"srinu",(1,2,3,4):"hello"}

In [71]:
print(dict1)

{'name': 'srinu', 'rollno.': 1223, 'address': 'hyd', (1, 2, 3, 4): 'hello'}

In [66]:
print(dict1)

{'name': 'nbs', 'rollno.': 1223, 'address': 'hyd'}

In [72]:
## extracting an element
print(dict1["name"])

srinu

In [73]:
# removing an entry from dictonary
del dict1['address']
print(dict1)

{'name': 'srinu', 'rollno.': 1223, (1, 2, 3, 4): 'hello'}

In [74]:
# adding an entry to the dictonary
dict1["course"]="python"
print(dict1)

{'name': 'srinu', 'rollno.': 1223, (1, 2, 3, 4): 'hello', 'course': 'python'}

### built-in method
1. keys()
2. values()
3. items()
4. get()
5. update()
6. pop()
7. pop item()

In [75]:
dict1.keys()

dict_keys(['name', 'rollno.', (1, 2, 3, 4), 'course'])

In [76]:
dict1.values()

dict_values(['srinu', 1223, 'hello', 'python'])

In [77]:
dict1.items()

dict_items([('name', 'srinu'), ('rollno.', 1223), ((1, 2, 3, 4), 'hello'), ('course', 'python')])

In [79]:
# extracting an elements
print(dict1["name"])
print(dict1.get("name"))

srinu
srinu

In [80]:
## adding an entey
dict1["address"]="hyd"
dict1

{'name': 'srinu',
 'rollno.': 1223,
 (1, 2, 3, 4): 'hello',
 'course': 'python',
 'address': 'hyd'}

In [81]:
d={1:1,2:2,3:3}
dict1.update(d)
dict1

{'name': 'srinu',
 'rollno.': 1223,
 (1, 2, 3, 4): 'hello',
 'course': 'python',
 'address': 'hyd',
 1: 1,
 2: 2,
 3: 3}

In [86]:
#removing an entry==>pop(),popitem
dict1.pop("name")
dict1

{'rollno.': 1223,
 (1, 2, 3, 4): 'hello',
 'course': 'python',
 'address': 'hyd',
 2: 2,
 3: 3}

In [90]:
dict1.popitem()

(3, 3)